<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Peças de Crochê</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <meta name="theme-color" content="#111111">
    <meta name="apple-mobile-web-app-status-bar-style" content="#111111">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Peças de Crochê</h1>
    <form action="/croches" method="get">
        <input type="text" name="nome_busca" placeholder="Buscar peça...">
        <button type="submit">Buscar</button>
    </form>
    <ul>
        {% for peca in croches %}
            <li>
                <strong>{{ peca.nome }}</strong> - {{ peca.cor }}
            </li>
        {% endfor %}
        <a href="/">Voltar para página inicial</a>
    </ul>
</body>
</html>