<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/musicas">Músicas</a>
        <a href="/croches">Crochês</a>
    </nav>
    <h1>Bem vindo ao nosso site!</h1>
    <p>Escolha uma opção para esplorar:</p>
    <ul>
        <li><a href="/musicas">Músicas do Ian</a></li>
        <li><a href="/croches">Crochês da Renata</a></li>
    </ul>
    
</body>
</html>